@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:wght@200&display=swap');
*{
	margin: 0;
	padding: 0;	
}
nav{
	font-family: 'Orbitron', sans-serif;
	background-color: black;
	color: white;
	height: 35px;
	font-size: 20px;
	align-items: center;
	display: flex;
	padding: 5px;
}

nav ul{
	list-style-type: none;
}

.box:hover{
	background-color: rgb(217, 127, 255);
}

.game_con{
	/* background-color: rgb(79, 102, 71); */
	display: flex;
	justify-content: center;
	margin-top: 20px;
	/* font-family: 'Poppins', sans-serif; */
	font-family: 'Orbitron', sans-serif;
}

.container {
	background-color: rgba(255, 255, 255, 0.9);
	display:grid;
	font-family: 'Orbitron', sans-serif;
	grid-template-rows: repeat(3,8vw);
	grid-template-columns: repeat(3,8vw);
}

.box{
	border: 2px solid black;
	font-size: 3vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
.heading{
	font-size:40px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 25px;
}

.game_info {
	/* background-color: rgb(249, 174, 35); */
	margin:100px;
	font-size: 30px;	
}

.bl-0{
	border-left: 0px;
}

.br-0{
	border-right: 0px;
}

.bt-0{
	border-top: 0px;
}

.bb-0{
	border-bottom: 0px;
}

#reset{
	
	margin-top: 20px;
	padding: 15px;
	background-color: rgb(45, 19, 176);
	color: white;
	font-family: 'Orbitron', sans-serif;
	font-size: 15px;
	border-radius: 10px;
}

@media screen and (max-width:1000px)
{
	.game_con{
		flex-wrap: wrap;
	}

	.heading{
		margin-bottom: 30px;
		font-size: 4vw;
	}

	.status{
		font-size: 4vw;
	}
	#reset{
		margin-top: 20px;
		margin-left: 40%;
		padding: 15px;
	}
}